<div class = 'hidden'>
  <span class='title_field'><%= title_keywords_results %></span>
  <span class='url_field'><%= url_keywords_results %></span>
  <span class='word_count_field'><%= word_count_results %></span>
  <span class='header_field'><%= header_results %></span>
  <span class='images_field'><%= image_results %></span>
  <span class='links_field'><%= link_results %></span>
  <span class='content_body_field'><%= content_body_results %></span>
</div>
