<div class = 'hidden'>
  <span class='title_field'><%= title_keywords_results %></span>
  <span class='url_field'><%= url_keywords_results %></span>
  <span class='word_count_field'><%= word_count_results %></span>
  <span class='header_field'><%= header_results %></span>
  <span class='header_keyword_field'><%= header_keyword_results %></span>
  <span class='image_field'><%= image_results %></span>
  <span class='image_alt_field'><%= image_alt_results %></span>
  <span class='image_alt_keyword_field'><%= image_alt_keyword_results %></span>
  <span class='broken_links_field'><%= broken_links_results %></span>
  <span class='content_body_field'><%= content_body_results %></span>
</div>
