<%= render 'layouts/navbar' %>

<div id = 'page_show_container'>

  <div class='well' style='border-radius:10px; background-color:rgba(255,255,255,0.4)'>

<center>

<%= render 'progress_bar' %>


<h2>Your site rated<div style='color:red'> <%= @test.number_of_tests_passed %></div> out of a possible <%= @test.number_of_tests_evaluated %>.</h2>


</center>
</div>

  <div class = 'row'>
    <div class='feedback col-md-4' data-step="1" data-intro="Here are your SEO test results. Click on each header to receive more detailed feedback about how your posts can be optimized for search results." data-position="right">
      <div id ='accordion'>

        <p class="title-tag"> Title Tag <%= image_tag "check1.png", :class => 'title_check check' %></p>
        <div>
          <p class='main_messages'><%= title_keywords_messages.html_safe %>
          </p>
        </div>
        <p class = "url-tag"> URL <%= image_tag "check1.png",:class => 'url_check check' %></p>
        <div>
          <p class='url_messages'><%= url_keywords_messages.html_safe %>
          </p>
        </div>
        <p class="word-tag"> Word Count <%= image_tag "check1.png", :class => 'word_count_check check' %></p>
        <div>
          <p class='word_count_messages'><%= word_count_messages.html_safe %>
          </p>
        </div>
        <p class="header-tag"> Header Tags  <%= image_tag "check1.png", :class => 'header_check check' %></p>
        <div>
          <span class='h1_messages'><%= h1_messages.html_safe %>
          </span>
        </div>
        <p class="header-keyword-tag"> Header Keywords  <%= image_tag "check1.png", :class => 'header_keyword_check check' %></p>
        <div>
          <span class='h1_messages'><%= h1_keyword_messages.html_safe %>
          </span>
        </div>
        <p class="image-tag"> Images <%= image_tag "check1.png", :class => 'image_check check' %></p>

        <div>
          <p class='image_messages'><%= image_messages.html_safe %>
          </p>
        </div>
        <p class="image-alt-tag"> Image Alt Descriptions <%= image_tag "check1.png", :class => 'image_alt_check check' %></p>

        <div>
          <p class='image_alt_messages'><%= image_alt_messages.html_safe %>
          </p>
        </div>
        <p class="image-alt-keyword-tag"> Image Alt Keywords <%= image_tag "check1.png", :class => 'image_alt_keyword_check check' %></p>

        <div>
          <p class='image_alt_keyword_messages'><%= image_alt_keyword_messages.html_safe %>
          </p>
        </div>
        <p class = "link-tag"> Links <%= image_tag "check1.png", :class => 'broken_links_check check' %></p>

        <div>
          <p class='link_messages'><%= broken_links_messages.html_safe %>
          </p>
        </div>
        <p class="content-saturation-tag"> Keyword Saturation <%= image_tag "check1.png", :class => 'content_body_check check'  %></p>

        <div>
          <span class='content_body_messages'><%= content_body_messages.html_safe %>
          </span>
        </div>
        <p class="content-tag"> First 150 Words <%= image_tag "check1.png", :class => 'first_150_check check'  %></p>
        <div>
          <span class='content_body_messages'><%= first_150_words_messages.html_safe %>
          </span>
        </div>
      </div>
    </div>

    <div class='article_content col-md-7 col-md-offset-1' data-step="2" data-intro=" We've summarized key data points about your post that search engines care about. These points provide a handy reference as you optimize your content for search engine results." data-position="left">
      <div class='post_data'>
        <p class="keywords"><strong>Keywords:</strong> <%= keyword_observations %></p>
        <p class="title"><strong>Title: </strong>&lt;title&gt;<%= @page.title %>&lt;/title&gt;</p>
        <p class="url"><strong>URL: </strong><%= @page.original_url %>
        <p class="word"><strong>Word Count:</strong> <%= @page.word_count %></p>
      </div>
      <div class="original-article" data-step="3" data-intro="This is your original post. As you click through the results of our test, relevant sections will be highlighted to make it easier to integrate our feedback into your content." data-position="left">
        <%= @page.content.html_safe %>
      </div>
    </div>
  </div>

</div>

<%= render 'checkbox' %>

<footer>
  <center>© siteKick 2013</center>
</footer>



