<%= render 'layouts/navbar' %>

<div id = 'page_show_container'>

  <div class='well' style='border-radius:10px; background-color:rgba(255,255,255,0.4)'>

<center>

<% if @test.number_of_tests_evaluated == 7 %>

<% if @test.number_of_tests_passed == 1 %>

<div class="progress progress-striped active"><div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 15%"></div></div>

<% elsif @test.number_of_tests_passed == 2 %>

<div class="progress progress-striped active"><div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 29%"></div></div>


<% elsif @test.number_of_tests_passed == 3 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 43%"></div></div>


<% elsif @test.number_of_tests_passed == 4 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 57%"></div></div>

<% elsif @test.number_of_tests_passed == 5 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 71%"></div></div>

<% elsif @test.number_of_tests_passed == 6 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 86%"></div></div>

<% elsif @test.number_of_tests_passed == 7 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>

<% else %>
<% end %>

<% elsif @test.number_of_tests_evaluated == 8 %>


<% if @test.number_of_tests_passed == 1 %>

<div class="progress progress-striped active"><div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 13%"></div></div>

<% elsif @test.number_of_tests_passed == 2 %>

<div class="progress progress-striped active"><div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div></div>


<% elsif @test.number_of_tests_passed == 3 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 38%"></div></div>


<% elsif @test.number_of_tests_passed == 4 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div></div>

<% elsif @test.number_of_tests_passed == 5 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 63%"></div></div>

<% elsif @test.number_of_tests_passed == 6 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div></div>

<% elsif @test.number_of_tests_passed == 7 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 89%"></div></div>

<% elsif @test.number_of_tests_passed == 8 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>

<% else %>
<% end %>

<% elsif @test.number_of_tests_evaluated == 9 %>

<% if @test.number_of_tests_passed == 1 %>

<div class="progress progress-striped active"><div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 11%"></div></div>

<% elsif @test.number_of_tests_passed == 2 %>

<div class="progress progress-striped active"><div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 22%"></div></div>


<% elsif @test.number_of_tests_passed == 3 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 33%"></div></div>


<% elsif @test.number_of_tests_passed == 4 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 44%"></div></div>

<% elsif @test.number_of_tests_passed == 5 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 56%"></div></div>

<% elsif @test.number_of_tests_passed == 6 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 67%"></div></div>

<% elsif @test.number_of_tests_passed == 7 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div></div>

<% elsif @test.number_of_tests_passed == 8 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div></div>

<% elsif @test.number_of_tests_passed == 9 %>

<div class="progress progress-striped active"><div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>

<% else %>
<% end %>

<% elsif @test.number_of_tests_evaluated == 10 %>

<% if @test.number_of_tests_passed == 1 %>

<div class="progress progress-striped active"><div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div></div>

<% elsif @test.number_of_tests_passed == 2 %>

<div class="progress progress-striped active"><div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div></div>


<% elsif @test.number_of_tests_passed == 3 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div></div>


<% elsif @test.number_of_tests_passed == 4 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div></div>

<% elsif @test.number_of_tests_passed == 5 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div></div>

<% elsif @test.number_of_tests_passed == 6 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div></div>

<% elsif @test.number_of_tests_passed == 7 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div></div>

<% elsif @test.number_of_tests_passed == 8 %>


<div class="progress progress-striped active"><div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div></div>

<% elsif @test.number_of_tests_passed == 9 %>

<div class="progress progress-striped active"><div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div></div>

<% elsif @test.number_of_tests_passed == 10 %>

<div class="progress progress-striped active"><div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>

<% else %>
<% end %>

<% else %>
<% end %>


<h2>Your site rated<div style='color:red'> <%= @test.number_of_tests_passed %></div> out of a possible <%= @test.number_of_tests_evaluated %>.</h2>


</center>
</div>

  <div class = 'row'>
    <div class='feedback col-md-4'>
      <div id ='accordion'>

        <p class="title-tag"> Title Tag <%= image_tag "check1.png", :class => 'title_check check' %></p>
        <div>
          <p class='main_messages'><%= title_keywords_messages.html_safe %>
          </p>
        </div>
        <p class = "url-tag"> URL <%= image_tag "check1.png",:class => 'url_check check' %></p>
        <div>
          <p class='url_messages'><%= url_keywords_messages.html_safe %>
          </p>
        </div>
        <p class="word-tag"> Word Count <%= image_tag "check1.png", :class => 'word_count_check check' %></p>
        <div>
          <p class='word_count_messages'><%= word_count_messages.html_safe %>
          </p>
        </div>
        <p class="header-tag"> Header Tags  <%= image_tag "check1.png", :class => 'header_check check' %></p>
        <div>
          <span class='h1_messages'><%= h1_messages.html_safe %>
          </span>
        </div>
        <p class="header-keyword-tag"> Header Keywords  <%= image_tag "check1.png", :class => 'header_keyword_check check' %></p>
        <div>
          <span class='h1_messages'><%= h1_keyword_messages.html_safe %>
          </span>
        </div>
        <p class="image-tag"> Images <%= image_tag "check1.png", :class => 'image_check check' %></p>

        <div>
          <p class='image_messages'><%= image_messages.html_safe %>
          </p>
        </div>
        <p class="image-alt-tag"> Image Alt Descriptions <%= image_tag "check1.png", :class => 'image_alt_check check' %></p>

        <div>
          <p class='image_alt_messages'><%= image_alt_messages.html_safe %>
          </p>
        </div>
        <p class="image-alt-keyword-tag"> Image Alt Keywords <%= image_tag "check1.png", :class => 'image_alt_keyword_check check' %></p>

        <div>
          <p class='image_alt_keyword_messages'><%= image_alt_keyword_messages.html_safe %>
          </p>
        </div>
        <p class = "link-tag"> Broken Links <%= image_tag "check1.png", :class => 'broken_links_check check' %></p>
       
        <div>
          <p class='link_messages'><%= broken_links_messages.html_safe %>
          </p>
        </div>
        <p class="content-tag"> Content Body <%= image_tag "check1.png", :class => 'content_body_check check'  %></p>

        <div>
          <span class='content_body_messages'><%= content_body_messages.html_safe %>
          </span>
        </div>
      </div>
    </div>

    <div class='article_content col-md-7 col-md-offset-1'>
      <div class='post_data'>
        <p class="keywords"><strong>Keywords:</strong> <%= keyword_observations %></p>
        <p class="title"><strong>Title: </strong>&lt;title&gt;<%= @page.title %>&lt;/title&gt;</p>
        <p class="url"><strong>URL: </strong><%= @page.original_url %>
        <p class="word"><strong>Word Count:</strong> <%= @page.word_count %></p>
      </div>
      <div class="original-article">
        <%= @page.content.html_safe %>
      </div>
    </div>
  </div>

</div>

<%= render 'checkbox' %>

<footer>
  <center>© siteKick 2013</center>
</footer>



