<div class = "navbar navbar-fix">
  <div class = "navbar-inner-box">

      <a class= "brand" href="#">Your url is: <%= @page.original_url %> </a><br>
        <button class="show_button">Hide Feedback</button>
        <ul class= "nav">
          <div id = "togglediv">
          <li><h1>Our FEEDBACK WILL GO HERE:</h1></li><br>

          <li>Title: <%= @page.title  %></li><br>
          <li> H1 text:  <%= @page.h1_text  %></li><br><br>
          <li> H1's: <%= @page.number_of_h1  %> </li><br>
          <li> H2's: <%= @page.number_of_h2  %> </li><br> 
          <li> H3's: <%= @page.number_of_h3  %> </li><br><br>         
          <li> Aprox. number of words in content: <%= @page.word_count %> </li>
        </div>
        </ul>
      </div>
    </div>
</div>


<p>
  <%= @page.content.html_safe %>
</p>


