<%= render 'layouts/navbar' %>

<div id = 'page_show_container'>

  <div class = 'row'>
    <div class = 'overview col-md-12'>
      <h2>Overview</h2>
      <p><strong>Score:</strong> Your post passed <%= @test.number_of_tests_passed %> out of <%= @test.number_of_tests_evaluated %> SEO-optimization tests.</p>
      <p>Click any of the headers in the left-hand box for detailed feedback.</p>
    </div>
  </div>

  <div class = 'row'>
    <div class='feedback col-md-6'>
      <div id ='accordion'>

        <p class="title-tag"> Title Tag <%= image_tag "check1.png", :class => 'title_check check' %></p>
        <div>
          <p class='main_messages'><%= title_keywords_messages.html_safe %>
          </p>
        </div>
        <p class = "url-tag"> URL <%= image_tag "check1.png",:class => 'url_check check' %></p>
        <div>
          <p class='url_messages'><%= url_keywords_messages.html_safe %>
          </p>
        </div>
        <p class="word-tag"> Word Count <%= image_tag "check1.png", :class => 'word_count_check check' %></p>
        <div>
          <p class='word_count_messages'><%= word_count_messages.html_safe %>
          </p>
        </div>
        <p class="header-tag"> Header Tags  <%= image_tag "check1.png", :class => 'header_check check' %></p>
        <div>
          <span class='h1_messages'><%= h1_messages.html_safe %>
          </span>
        </div>
        <p class="image-tag"> Images <%= image_tag "check1.png", :class => 'image_check check' %></p>

        <div>
          <p class='image_messages'><%= image_messages.html_safe %>
          </p>
        </div>

        <p class = "link-tag"> Links <%= image_tag "check1.png", :class => 'link_check check' %></p>
       
        <div>
          <p class='link_messages'><%= link_messages.html_safe %>
          </p>
        </div>
        <p class="content-tag"> Content Body <%= image_tag "check1.png", :class => 'content_body_check check'  %></p>

        <div>
          <span class='content_body_messages'><%= content_body_messages.html_safe %>
          </span>
        </div>
      </div>
    </div>

    <div class='article_content .col-md-6'>
      <div class='post_data'>
        <p><strong>Keywords:</strong> <%= keyword_observations %></p>
        <p id="title"><strong>Title: </strong>&lt;title&gt;<%= @page.title %>&lt;/title&gt;</p>
        <p id="url"><strong>URL: </strong><%= @page.original_url %>
        <p id="word"><strong>Word Count:</strong> <%= @page.word_count %></p>
      </div>
      <div class="original-article">
        <%= @page.content.html_safe %>
      </div>
    </div>
  </div>

</div>

<%= render 'checkbox' %>



