<h1>Pages#show</h1>
<div class='feedback'>
  <h2>FEEDBACK:</h2>

  <p>You submitted: <br>
  <%= @page.original_url %><br>
  
  Title: <%= @page.title %><br>
  h1 text:  <%= @page.h1_text  %><br>
  h1's: <%= @page.number_of_h1  %><br>
  h1 message: <%= @test.test_results[:h1_presence_output] %> <br>

  h2's: <%= @page.number_of_h2  %>  <br>

  h3's: <%= @page.number_of_h3  %>          <br>
  
  Aprox. number of words in content: <br>
  <%= @page.word_count %> <br>
</p>
</div><br>

<div class='article_content'>
  <h2>ORIGINAL ARTICLE</h2>
  <%= @page.content.html_safe %>
</div>





  



