<div class="navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <% if current_user  %>
            <%= link_to 'siteKick', root_url, class: "logo" %>
          <div class="nav pull-right" style='padding-right:10px; padding-top:11px; margin-top: 3px; display:inline-block'>
            <%= link_to "exit!", "/signout", class: "btn-danger" %>
          </div>
          <div class="nav pull-right" style='padding-right:10px; padding-top:11px; margin-top: 3px; display:inline-block'>
            <%= link_to "posts", "/pages/new", class: "btn-info" %>
          </div>


          <% else %>
          <%= link_to 'siteKick', root_url, class: "logo" %>
          <div class="nav pull-right" style='padding:10px; margin-top: 5px; padding-top:11px'>
            <%= link_to "welcome!", "/auth/tumblr", class: "btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>