<!DOCTYPE html>
<html>
<head>
  <title>MizeCraft</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>


  <div id="user_nav">
    <%= link_to "sign in with tumblr here", "/auth/tumblr" %>
  </div>

  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
